
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 4%;
  padding-top: 4%;
}

.container img {
  width: 100%;
}

.container aside {
  width: 20%;
  position: absolute;
  bottom: -18%;
  left: 38%;
  background: transparent;
}

.container aside img {
  border-radius: 100%;
  border: 6px solid white;
}





.container .user_details {
  margin-top: 2%;
}


.container .logoutBtn {
  margin: 0;
}





























@media (max-width: 750px) {

  .container aside {
    width: 20%;
    padding: 1%;
    position: absolute;
    bottom: -29%;
    left: 38%;
  }
}



@media (max-width: 700px) {
  .container {
    padding-left: 4%;
  }
}  



@media (max-width: 430px) {
  .container aside {
    width: 20%;
    padding: 1%;
    position: absolute;
    bottom: -34%;
    left: 38%;
  }
}